body {
  background: url('../../../../assets/images/background.png') no-repeat left top fixed white;
}

.btn {
  background: black;
  color: white;
  border-color: black;
  &:hover,
  &:focus,
  &:active {
    color: black;
    background: $bee-yellow;
    border-color: $bee-yellow;
  }
  &.btn-primary:hover,
  &.btn-warning:hover,
  &.btn-danger:hover,
  &.btn-success:hover,
  &.btn-info:hover,
  &.btn-inverse:hover {
    color: black;
  }
}

#page-header > a {
  color: $gold;
}
