export BUNDLE_GEMFILE=Gemfile.local
export RAILS_MAIL_DELIVERY_CONFIG='address: localhost, port: 2025'
export RAILS_DB_SOCKET="/var/run/postgresql/.s.PGSQL.5432"
export RAILS_DB_HOST=
export RAILS_DB_PORT=
export RAILS_DB_USERNAME=$(whoami)
export RAILS_DB_PASSWORD=
export HITOBITO_DEV_PASSWORD=bienen-schweiz
export SECRETARY_EMAIL='11@renuo.ch'
export APP_NOTIFICATIONS_EMAIL='11@renuo.ch'
export CANTONAL_INSPECTOR_BCC_EMAIL='11@renuo.ch'
export CANTONAL_INSPECTOR_CC_EMAIL='11@renuo.ch'
export INSPECTION_REPLY_TO_EMAIL='11@renuo.ch'
export INSPECTION_BCC_EMAIL='11@renuo.ch'
export DEFAULT_FROM_EMAIL='11@renuo.ch'
export PRINTER_EMAIL='11@renuo.ch'
export KAS_PROJECT_PATH=$PWD/../vdrb-kas
export JWT_SIGNING_KEY=$(cat oauth_jwt_signing_key)
